In [1]:
import pandas as pd

df = pd.read_csv("credit_score.csv")
df.head()

C:\Users\COMPU\AppData\Local\Temp\ipykernel_12840\3598327475.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("credit_score.csv")

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [12]:
#Revisar valores nulos por columna
#Esto te muestra qué columnas tienen más NaN
df.isnull().sum().sort_values(ascending=False)

Monthly_Inhand_Salary       15002
Type_of_Loan                11408
Name                         9985
Credit_History_Age           9030
Num_of_Delayed_Payment       7002
Amount_invested_monthly      4479
Num_Credit_Inquiries         1965
Monthly_Balance              1200
ID                              0
Changed_Credit_Limit            0
Payment_Behaviour               0
Total_EMI_per_month             0
Payment_of_Min_Amount           0
Credit_Utilization_Ratio        0
Outstanding_Debt                0
Credit_Mix                      0
Delay_from_due_date             0
Customer_ID                     0
Num_of_Loan                     0
Interest_Rate                   0
Num_Credit_Card                 0
Num_Bank_Accounts               0
Annual_Income                   0
Occupation                      0
SSN                             0
Age                             0
Month                           0
Credit_Score                    0
dtype: int64

Separar columnas que NO usaremos como features

Son identificadores o datos sensibles, no ayudan al modelo:

ID

Customer_ID

Name

SSN

Month (puede usarse, pero de momento lo dejamos fuera para simplificar)

In [13]:
cols_drop = ["ID", "Customer_ID", "Name", "SSN", "Month"]
df = df.drop(columns=cols_drop)
df.head()

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,-500,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [14]:
#Detectar tipos de variables (numéricas vs categóricas)
df.dtypes

Age                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [15]:

#ver listas
num_cols = df.select_dtypes(include=["int64", "float64"]).columns.tolist()
cat_cols = df.select_dtypes(include=["object"]).columns.tolist()

num_cols, cat_cols

(['Monthly_Inhand_Salary',
  'Num_Bank_Accounts',
  'Num_Credit_Card',
  'Interest_Rate',
  'Delay_from_due_date',
  'Num_Credit_Inquiries',
  'Credit_Utilization_Ratio',
  'Total_EMI_per_month'],
 ['Age',
  'Occupation',
  'Annual_Income',
  'Num_of_Loan',
  'Type_of_Loan',
  'Num_of_Delayed_Payment',
  'Changed_Credit_Limit',
  'Credit_Mix',
  'Outstanding_Debt',
  'Credit_History_Age',
  'Payment_of_Min_Amount',
  'Amount_invested_monthly',
  'Payment_Behaviour',
  'Monthly_Balance',
  'Credit_Score'])

1.5. Limpieza básica: valores raros ⇒ NaN

En este dataset hay valores “basura” tipo "_", "__10000__", "NA", "NM", etc. La idea es tratarlos como faltantes.

In [ ]:
import numpy as np

# Lista de tokens que consideraremos como "faltantes"
rare_tokens = ["_", "__", "NA", "NM", "Not Specified", "__10000__", "!", "!@9#%8", "-"]

df = df.replace(rare_tokens, np.nan)

#Si luego ves otros valores raros en tus columnas, los agregas a esa lista. <------------ OJO

Manejo de valores faltantes

In [19]:
#Imputar numéricas con la mediana
num_cols = df.select_dtypes(include=["int64", "float64"]).columns

for col in num_cols:
    med = df[col].median()
    df[col] = df[col].fillna(med)

In [20]:
#Imputar categóricas con la moda
cat_cols = df.select_dtypes(include=["object"]).columns

for col in cat_cols:
    mode = df[col].mode(dropna=True)
    if len(mode) > 0:
        df[col] = df[col].fillna(mode[0])
    else:
        df[col] = df[col].fillna("Unknown")

In [21]:
#Verificar que ya no queden NaN
df.isnull().sum().sort_values(ascending=False).head(10)

Age                         0
Num_Credit_Inquiries        0
Monthly_Balance             0
Payment_Behaviour           0
Amount_invested_monthly     0
Total_EMI_per_month         0
Payment_of_Min_Amount       0
Credit_History_Age          0
Credit_Utilization_Ratio    0
Outstanding_Debt            0
dtype: int64

In [22]:
#Guardar una versión limpia para usar luego
df.to_csv("credit_score_clean.csv", index=False)

# 2. Objetivo general de la investigación

## 2.1 Planteamiento del problema

En este proyecto se aborda el problema de **clasificación del puntaje crediticio** de clientes de una entidad financiera.  
A partir de información demográfica, financiera y de comportamiento de pago, se busca predecir la categoría de **`Credit_Score`** de cada cliente (`Poor`, `Standard` o `Good`).

## 2.2 Objetivo general

**Desarrollar y evaluar modelos de aprendizaje automático capaces de clasificar el puntaje crediticio (`Credit_Score`) de los clientes, utilizando como entrada sus características financieras y de comportamiento de pago.**

## 2.3 Objetivos específicos

- Analizar y preprocesar el dataset `train.csv`, manejando valores faltantes, valores atípicos y variables categóricas.
- Entrenar y comparar distintos clasificadores supervisados para la predicción de `Credit_Score`.
- Evaluar el rendimiento de los modelos mediante métricas como accuracy, precision, recall y F1-score, utilizando diferentes particiones de los datos.
- Identificar qué variables tienen mayor influencia en la clasificación del puntaje crediticio.

## 2.4 Justificación del estudio

En el contexto financiero actual, la correcta evaluación del riesgo crediticio es un requisito fundamental para la sostenibilidad de las entidades financieras. Cada decisión de aprobar o rechazar un crédito implica un equilibrio entre rentabilidad y riesgo: otorgar préstamos a clientes con alto riesgo de impago puede generar pérdidas significativas, mientras que rechazar injustificadamente a clientes solventes limita las oportunidades de negocio. En este escenario, contar con herramientas objetivas y sistemáticas para clasificar el puntaje crediticio se vuelve esencial.

Tradicionalmente, la evaluación del riesgo se ha realizado de manera manual, apoyándose en la experiencia de los analistas de crédito y en reglas de negocio predefinidas. Este enfoque presenta varias limitaciones: es lento, no escala bien cuando el volumen de clientes crece, está expuesto a sesgos humanos y puede desaprovechar la gran cantidad de datos históricos disponibles. El uso de técnicas de aprendizaje automático permite automatizar parte de este proceso, explotando patrones complejos en los datos que no siempre son evidentes a simple vista.

El dataset utilizado en este proyecto integra información demográfica, financiera y de comportamiento de pago de los clientes, lo que permite modelar el riesgo crediticio de forma más integral. Desarrollar un modelo capaz de predecir la categoría de `Credit_Score` (Poor, Standard o Good) a partir de estas variables no solo reduce el esfuerzo manual, sino que también puede contribuir a decisiones más consistentes, transparentes y basadas en evidencia. Además, desde el punto de vista académico, este estudio permite aplicar de manera práctica todo el flujo de un proyecto de Inteligencia Artificial: desde la limpieza y preprocesamiento de datos hasta la comparación de modelos, el análisis de desempeño y la interpretación de resultados, fortaleciendo las competencias técnicas necesarias para abordar problemas reales en el ámbito financiero.